@font-face {
    font-family: 'Montserrat';
    src: url(asset/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(asset/fonts/Montserrat-Bold.ttf);
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Montserrat', 'Verdana', sans-serif;
    color: #2C1A2A;
}

:root {
    --color-pink: #BD5CB0;
    --color-secondary: #F38A21;
}

section#longread h2 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 40px;
    color: #2C1A2A;
}

section#longread h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: 32.4px;
    text-align: left;
    color: var(--color-pink);
    margin-bottom: 40px;
}

section#longread h3 sup {
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
}

section#longread span.balun {
    background-color: var(--color-pink);
    width: fit-content;
    color: #ffffff;
    padding: 0 11px;
    border-radius: 20px;
}

section#longread .menu {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    list-style: none;
    width: 194px;
    margin-right: 5%;
}

section#longread .menu a,
section#longread .menu a:hover,
section#longread .menu a:active,
section#longread .menu a:visited {
    color: #2C1A2A;
    text-decoration: none;
}

section#longread .content-container {
    display: flex;
}

section#longread .content-container .left-col {
    display: flex;
    width: 20%;
    justify-content: flex-end;
}

section#longread .content-container .center-col {
    width: 60%;
}

section#longread .content-container .right-col {
    width: 20%;
}

section#longread .content-container .center-right-col {
    width: 80%;
}

section#longread .content-container .content-type-1 {
    width: 56%;
    margin-right: 4%;
    align-self: center;
}

section#longread .content-container .content-type-1 h3 {
    margin-bottom: 0;
}

section#longread .content-container .content-type-2 {
    width: 40%;
    display: flex;
    align-self: center;
}

section#longread p {
    color: #2C1A2A;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin-bottom: 40px;
}

section#longread p sup {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

section#longread p strong {
    font-family: 'Montserrat', 'Verdana', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: var(--color-pink);
}

section#longread p strong em {
    font-family: 'Montserrat', 'Verdana', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: var(--color-pink);
}

section#longread .menu li {
    margin-bottom: 20px;
}

section#longread .content-button {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #fff;
    padding: 20px 40px;
    gap: 10px;
    border-radius: 40px;
    background-color: #F38A21;
    border: none;
    text-decoration: none;
    display: inline-block;
}

section#longread .content-button:hover,
section#longread .content-button:active,
section#longread .content-button:visited {
    color: #fff;
}

@media  ( max-width: 1100px ) {
    section#longread .content-container {
        flex-direction: column;
        margin-right: 15px;
        margin-left: 15px;
    }

    section#longread .content-container .content-container{

        margin-right: 0;
        margin-left: 0;
    }

    section#longread .content-container .left-col {
        width: 100%;
    }

    section#longread .content-container .menu {
        width: 100%;
    }

    section#longread .content-container .center-col {
        width: 100%;
    }

    section#longread .content-container .right-col {
        display: none;
    }

    section#longread .content-container .center-right-col {
        width: 100%;
    }

    section#longread .content-container .content-type-1 {
        width: 100%;
        margin-right: 0;
    }

    section#longread .content-container .content-type-1 h3 {
        margin-bottom: 15px;
    }

    section#longread .content-container .content-type-2 {
        width: 70%;
        align-self: end;
    }
}
